$default-grey: rgb(104, 103, 103);
$dark-grey: rgba(107, 106, 106, 0.801);

.app-confirm-password-form {
    color: $default-grey;
    text-align: center;

    h1 {
      font-size: 20px;
      font-weight: bold;
    }
    h4 {
      font-size: 18px;
      text-align: left;
    }
    form {
      text-align: left;
      input {
        border: 1px solid $default-grey;
        color: $dark-grey;
        height: 45px;
        width: 60%;
      }
    .default-size,
      button {
        width: 60%;
      }
    }
}
