$primary-color: #77b8e9;
$action-color: #16c0ce;

.no-border {
  border: none !important;
}

.spinner > span {
  color: $primary-color;
}

.text-color {
  color: $action-color;
}

.button-color {
  background: $action-color;
}
