$primary-color: #77b8e9;
$action-color: #16c0ce;
$error-color: rgb(255, 116, 116);;

.no-border {
  border: none !important;
}

.spinner > span {
  color: $primary-color;
}

.text-color {
  color: $action-color;
}

.button-color {
  background: $action-color;
}

.error_message {
  color: $error-color;
  font-size: 10pt;
}
