.navigation-container {
  margin: 0px;
  padding: 0px;
  background-color: #77b8e9;
  height: 50px;
}

.logo {
  margin-left: 40px;
  font-size: 20px;
}
.logo-image {
  width: 130px;
  height: 30px;
  margin: 0px auto;
}
.nav {
  padding: 0px;
  margin-right: 40px;
  font-size: 20px;
}
