.register-head {
  .arrow {
    font-size: 40px;
    color: rgb(119, 115, 115);
  }
  h3 {
    margin-left: 160px;
    font-size: 20px;
    margin-top: -40px;
    color: rgb(119, 115, 115);
  }
}

.text-green {
  color: rgb(51, 112, 51);
}
.bg-green {
  background-color: rgb(51, 112, 51);
}
.text-grey {
  color: rgb(120, 129, 124);
}
.bg-grey {
  background-color: rgb(120, 129, 124);
}

.text-violet {
  color: rgba(63, 21, 63, 0.808);
}

.bg-violet {
  background-color: rgba(63, 21, 63, 0.808);
}
.bcg-primary {
  background-color: #eff0f2;
}
.text-blue {
  color: #77b8e9;
}
