$filter-orange: #f38938;
$white: #ffff;
$filter-teal: #218a92;
$nav-background: #1f4788;

.dashboard_background {
  margin: 0px;
  padding: 0px;
}
.background {
  background: $nav-background;
}
.dash-section {
  background: $white;

  .filter-orange-bg {
    background: $filter-orange;
  }
  .filter-teal-bg {
    background: $filter-teal;
  }
  .action {
    width: 30px;
  }
  .action i {
    font-size: 20px;
  }
  .mark {
    width: 120px;
    font-size: 12px;
  }

  th,
  td {
    text-align: left;
  }

  .table td,
  .table th {
    padding: 0.6rem;
  }
}

.order-view-details {
  max-height: 50vh; 
  overflow: auto;
}

#clearOrderWrapper{
  padding: 2rem 0 2rem 1rem;
}

.clear-success {
  text-align: center; 
  padding: 3rem 0 3rem 0;
}

#icon-times-error {
  color: red; padding: 1rem 0 1rem 0;
}

#icon-check-success {
  color: teal; padding: 1rem 0 1rem 0;
}

table tbody tr.is-bold {
  font-weight: bold;
}
