$default-grey: rgb(104, 103, 103);
$black: rgb(7, 6, 6);
  .app-forget-password-form {
    color: $default-grey;
    text-align: center;

    h1 {
      font-size: 20px;
      font-weight: bold;
    }
    h4 {
      font-size: 18px;
      text-align: left;
    }
    form {
      text-align: left;
      input {
        border: 1px solid $default-grey;
        color: $default-grey;
        height: 45px;
        width: 100%;
      }
      .form-group,
      button {
        width: 60%;
      }
    }
    p {
      padding: 15px 0;
      text-align: left;
    }

    a {
      color: #77b8e9;
      text-decoration: none;
    }

    .modal-header {
      border: none;
      background-color: $black;
    }
  }

.iconic {
  font-size: 3rem;
  padding: 10px;
  border-radius: 50%;
  height: 80px;
  width: 80px;
  color: #a8a9aac7;
  border: 3px solid #7a7a7ac7;
}
.forget-password-form {
  max-width: 60%;
  text-align: left;
}
@media (max-width: 667.98px) {

  .forget-password-form {
    max-width: 90%;
    text-align: left;
  }
}
