<app-landing-header></app-landing-header>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 app-landing-container d-flex justify-content-center">
            <app-welcome-details></app-welcome-details>
          </div>

       <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5 app-forget-password-form mx-auto">

      <div class="container">
          <div class="m-4">&nbsp;</div>
          <div class="m-4">&nbsp;</div>
          <i class="fas fa-lock iconic"></i>
          <div class="m-1">&nbsp;</div>

      <h1 class="font-weight-bold"> Trouble Logging In?</h1>
      <div class="m-2">&nbsp;</div>

      <h4>Enter your username or email and we'll send you a link <br/> to get back into your account.</h4>
      <div class="m-3">&nbsp;</div>
          <form (ngSubmit)="onSubmit()" [formGroup]="forgetPassword">
            <div class="form-group">
                <div *ngIf="message" class="alert" [ngClass]="serverError ? 'alert-danger' :  'alert-success'">
                    {{ message }}
                  </div>
              <div *ngIf="email.invalid && email.value"
                class="alert alert-danger">
                <div *ngIf="email.errors.required">
                  Email is required.
                </div>
                <div *ngIf="email.errors.email">
                  Email must be valid
                </div>
              </div>
              <input
                type="email"
                class="form-control"
                id="email"
                required
                formControlName="emailAddress"
                aria-describedby="emailHelp"
                placeholder="Enter your email"
                />
            </div>

            <button type="submit" class="btn login-btn" [disabled]="!forgetPassword.valid">
                <span class="spinner-border" *ngIf="loading" role="status" aria-hidden="true"></span>

              Send Login Link
            </button>
          </form>
          <p class="signup-link">
            Don't have an account? <br />
            <a routerLink="/register">Request for an account</a>
          </p>
          <p class="signup-link">
            Already have an EzyAgric Account? <br/>
            <a routerLink="/">Login to your Account</a>
          </p>
        </div>
        <p class="dtext-left"> &nbsp;&nbsp; &copy; {{ dateService.year }} Copyright Akorion Company Ltd</p>
      </div>
</div>
