<app-navigation></app-navigation>
<div class="m-2">&nbsp;</div>
  <div class="jumbotron mx-auto">

      <form (ngSubmit)="onSubmit()"  [formGroup]="changeAdminPassword" class="container bg-white">
          <h4>Change Admin Account Password</h4>
          <div class="m-2">&nbsp;</div>
        <div class="form-group">

            <div *ngIf="!oldPassword().valid && newPassword().valid && confirmPassword().valid" class="alert alert-danger default-size">
                <a
                  class="close"
                  data-dismiss="alert"
                  aria-hidden="true"
                >
                  &times;
              </a>
              * Please, enter your Current Password
            </div>
            <div *ngIf="!passwordMatch()" class="alert alert-danger default-size">
              <a class="close" data-dismiss="alert" aria-hidden="true">
                &times;
              </a>
              * New passwords does not match.
            </div>

          <div class="alert alert-danger" *ngIf="errorMessage && passwordMatch()">
            <a type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</a>
            <strong>Error!</strong> {{errorMessage}}
          </div>

          <div class="alert alert-success" *ngIf="successMessage">
            <a
              class="close"
              data-dismiss="alert"
              aria-hidden="true"
            >
              &times;
          </a>
          {{ successMessage }}
          </div>
        </div>
        <div class="form-group">
          <input
            type="password"
            class="form-control"
            formControlName="oldPassword"
            id="oldPassword"
            aria-describedby="oldPassword"
            placeholder="Enter Current Password."
          />
        </div>
        <div class="form-group">
          <input
            type="password"
            class="form-control"
            formControlName="newPassword"
            id="newPassword"
            aria-describedby="newPassword"
            placeholder="Enter new Password"
            pattern="^(?=\S*[a-zA-Z])(?=\S*[0-9])(?=\S*\d)\S{6,}$"
          />
        </div>
        <div class="form-group">
          <input
            type="password"
            formControlName="confirmPassword"
            class="form-control"
            id="confirmPassword"
            aria-describedby="confirmPassword"
            placeholder="Confirm Password"
            pattern="^(?=\S*[a-zA-Z])(?=\S*[0-9])(?=\S*\d)\S{6,}$"
          />
        </div>

        <button type="submit" class="btn btn-primary" [disabled]="!changeAdminPassword.valid || !passwordMatch() || loading">
          <span
            class="spinner-border"
            *ngIf="loading"
            role="status"
            aria-hidden="true"
          ></span>

          <span *ngIf="!loading">Change Password</span>
        </button>

        <a href="admin_dashboard" class="btn btn-danger btn-secondary text-white button">
          Cancel
        </a>
      </form>
    </div>
