form {
  max-width: 500px;
  padding: 2.5em;
}
.form-control, button, a.button {
  height: calc(2.5em + .75rem + 2px);
}
button, a.button {
  padding: .375rem .75rem;
  width: 48%;
  max-width: 300px;
  margin-right: 2%;
}
a.button {
  padding: .75rem;
}
h4 {
  text-align: center;
}
